
  * {
  box-sizing: border-box;
 }
 
body {
  overflow-x: hidden;
}

 h1 {
  color: brown;
  text-align: center;
  font-family: 'Papyrus','Times New Roman';
  font-size: 20px;
  padding-top: 10px;
 }
  
  .container {
    background-color: antiquewhite;
    width: 100vw;
    height: 90px;
    padding: 0.8em 0;
    margin: 0 auto;
    box-shadow: 2px 2px 10px #f1f6f9;
    justify-items: center;
  }

  #navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 130px;
    height: 330px;
    background-color: antiquewhite;
    font-size: larger;

  }

  nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-direction: column;
  }

  nav li {
    float: right;
    padding: 30px;
  }


  #about{
    text-align: center;
    font-size: large;
    font-family: copperplate;
  }

  .about_me {
    margin-bottom: -2%;
  }
    

  .blogs{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 80px;
    overflow: auto;
  }

  .column {
    float: right;
    width: 30%;
    padding: 5px 5px;
    padding-left: 50px;
    
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    
  }

  .blog:after {
  content: "";
  display: table;
  clear: both;
  }

  h2 {
    text-align: center;
    margin-left: 50px;
    font-family: papyrus;
    color: brown;
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  p {
    font-size: 18px;
    font-family: copperplate;
    text-align: center;
    color: gray;
    font-weight: bold;
  }

#welcome {
  position: absolute;
  top: 120px;
  left: 300px;
  font-size: 32px;
  color: rgb(134, 8, 8);
  opacity: 0.9;
  font-family: Stencil Std, fantasy;
}


  img {
    padding-top: 10px;
    height: 50%;
    width: 100%;
  }

  blockquote {
    background-color: antiquewhite;
    text-align: center;
    height: 300px;
    width: 400px;
    padding: 60px 40px 95px 50px;
    margin-left: 320px;
    font-family: papyrus;
    font-size: 24px;
  }

  .footer {
    background-color: antiquewhite;
    height: 90px;
    width: 80vw;
    text-align: center;
    padding-top: 5px;
    margin: 0 auto;
  }

  #mypic{
    border-radius: 100px;
    margin-bottom: 30px;
    width: auto;
    height: 200px;
    margin-left: 430px;
  }

  .sunset {
    margin-top: 50px;
    height: 800px;
    width: 1000px;
    margin-left: 210px;
    position: relative;
  }


  @media screen and (max-width: 600px) {
    .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  }
 